@model ResourceManagement.Models.BannerInfo

@if (Model.ShowBanner)
{
    <div class="card card-body fullwidthcomponent" style="background-color: #032d42 !important ">
        <div class="row" style="height: 50px !important">
            <div class="col-md-3">
                <img alt="" src="@Model.BannerImagePath" width="50" height="50" class="card-img-top img-fluid rounded-circle" style="margin-left: 170px; margin-top: -6px; width: 60px; height: 50px">
            </div>
            <div class="col-md-8" style="margin-left: -120px !important">
                <h2 style="font-size: xx-large; color: #62d84e !important; "><b>@Model.BannerName</b></h2>
            </div>
        </div>
    </div>
}

