@model ResourceManagement.AMBC_Active_Emp_view

@{
    var isAdminUser = Model != null && Model.Access_Role == "administrator" ? true : false;

    var isITUser = Model != null && Model.Access_Role == "ITAdmin" ? true : false;
}

<div class="collapse navbar-collapse" id="main_nav" style="margin-bottom: -48px !important; margin-left: -260px !important; margin-top: 40px; background-color: #3a3d6e; height: 50px !important; margin-right: -610px ">
    <ul class="navbar-nav custom-navbar-nav" style="margin-top: 6px !important; margin-left: 30px !important">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <img src="~/Assets/MenuIcons/icons8-home-20.png" width="15" /> <b>Home</b>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/document.png" width="15" /> <b>TimeSheet</b>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/timesheet"> <b>Enter Timesheet</b> </a></li>
                @if (isAdminUser)
                {
                    <li><a class="dropdown-item" href="/timesheetreports"> <b>View Report</b> </a></li>
                }
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/business-report.png" width="15" /> <b>My Reports</b>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/StatusReportUpload"> <b>Upload Reports</b> </a></li>
                <li><a class="dropdown-item" href="/StatusReportUpload?type=projectreport"> <b>Enter Projects</b> </a></li>
                <li><a class="dropdown-item" href="/StatusReportUpload?type=mmactivities"> <b>Monthly Activities</b> </a></li>
                <li><a class="dropdown-item" href="/StatusReport"> <b>View Report</b> </a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/management.png" width="15" />  <b>LMS</b>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/applyleave"> <b>Apply Leave</b> </a></li>
                @if (isAdminUser)
                {
                    <li><a class="dropdown-item" href="/leavereport"> <b>View Report</b> </a></li>
                }

            </ul>
        </li>
        @if (isAdminUser || isITUser)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/technical-support.png" width="15" />  <b>IT</b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#"> <b>Monthly Maintenance</b> </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="/it/schedulemaintenance"><b>Schedule Maintenance</b> </a></li>
                            <li><a class="dropdown-item" href="/it/mmreportgenerate"> <b>M&M Report Generate</b></a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#"> <b>Reports</b> </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="/it/uploadreport"> <b>Upload IT Report</b> </a></li>
                            <li><a class="dropdown-item" href="/it/viewreport"> <b>View IT Report</b> </a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#"> <b>Assets</b> </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="/it/vendoraddupdate"> <b>Vendor add/update</b> </a></li>
                            <li><a class="dropdown-item" href="/it/purchaserequest"> <b>New purchase request</b> </a></li>
                            <li><a class="dropdown-item" href="/it/assetaddupdate"> <b>Asset add/update</b> </a></li>
                            <li><a class="dropdown-item" href="/it/assetassign"> <b>Asset Assign</b> </a></li>
                            <li><a class="dropdown-item" href="/it/viewassets"> <b>View Assets</b> </a></li>
                        </ul>
                    </li>

                </ul>
            </li>
        }

        @if (isAdminUser)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/hr.png" width="15" /> <b>HR</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>HR Letter</b> </a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/calendar.png" width="15" /> <b>Payroll</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>Payslip</b> </a></li>
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>Form 16</b> </a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/contact-info.png" width="15" /> <b>Service Central</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>Help Desk</b> </a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/ticket.png" width="15" /><b>Tickets</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>Create Ticket</b> </a></li>
                    <li><a class="dropdown-item" href="/it/viewreport"> <b>View Ticket</b> </a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/learning.png" width="15" /><b>E-Learning</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>Register course</b> </a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">

                    <img src="~/Assets/MenuIcons/airplane-ticket.png" width="15" /><b>Travelling</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>Raise Request</b> </a></li>
                    <li><a class="dropdown-item" href="/it/viewreport"> <b>View Request</b> </a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/manager.png" width="15" /> <b>Admin</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/zohosigninupdate"> <b>Check In Adjust</b> </a></li>
                    <li><a class="dropdown-item" href="/checkinadjust"> <b>Check In Day wise</b> </a></li>
                </ul>
            </li>
        }
    </ul>
</div>