@model ResourceManagement.AMBC_Active_Emp_view

@{
    var isAdminUser = Model != null && Model.Access_Role == "administrator" ? true : false;
}

<div class="collapse navbar-collapse" id="main_nav" style="margin-bottom: -48px !important; margin-left: -260px !important; margin-top: 40px; background-color: #3a3d6e; height: 50px !important; margin-right: -610px ">
    <ul class="navbar-nav custom-navbar-nav" style="margin-top: 6px !important; margin-left: 30px !important">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <img src="~/Assets/MenuIcons/icons8-home-20.png" width="15" /> <b>Home</b>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/document.png" width="15" /> <b>TimeSheet</b>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/timesheet"> <b>Enter Timesheet</b> </a></li>
                @if (isAdminUser)
                {
                    <li><a class="dropdown-item" href="/timesheetreports"> <b>View Report</b> </a></li>
                }
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/business-report.png" width="15" /> <b>My Reports</b>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/StatusReportUpload"> <b>Upload Status Report</b> </a></li>
                <li><a class="dropdown-item" href="/StatusReport"> <b>View Report</b> </a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/management.png" width="15" />  <b>LMS</b>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/applyleave"> <b>Apply Leave</b> </a></li>
                @if (isAdminUser)
                {
                    <li><a class="dropdown-item" href="/leavereport"> <b>View Report</b> </a></li>
                }

            </ul>
        </li>
        @if (isAdminUser)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/technical-support.png" width="15" />  <b>IT</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/it/schedulemaintenance"> <b>Schedule Maintenance</b> </a></li>
                    <li><a class="dropdown-item" href="/it/mmreportgenerate"> <b>M&M Report Generate</b> </a></li>
                    <li><a class="dropdown-item" href="/it/uploadreport"> <b>Upload IT Report</b> </a></li>
                    <li><a class="dropdown-item" href="/it/viewreport"> <b>View IT Report</b> </a></li>
                    <li><a class="dropdown-item" href="/it/assetaddupdate"> <b>Asset add/update</b> </a></li>
                    <li><a class="dropdown-item" href="/it/assetassign"> <b>Asset Assign</b> </a></li>
                </ul>
            </li>
        }

        @if (isAdminUser)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/manager.png" width="15" /> <b>Admin</b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/zohosigninupdate"> <b>Check In Adjust</b> </a></li>
                    <li><a class="dropdown-item" href="/checkinadjust"> <b>Check In Day wise</b> </a></li>
                </ul>
            </li>
        }
    </ul>
</div>