@model ResourceManagement.AMBC_Active_Emp_view

@{
    var isAdminUser = Model != null && Model.Access_Role == "administrator" ? true : false;
}

<div class="collapse navbar-collapse" id="main_nav" style="margin-bottom: -48px !important; margin-left: -260px !important; margin-top: 40px; background-color: #3a3d6e; height: 50px !important; margin-right: -610px ">
    <ul class="navbar-nav custom-navbar-nav" style="margin-top: 6px !important; margin-left: 30px !important">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <img src="~/Assets/MenuIcons/icons8-home-20.png" width="15" /> Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/document.png" width="15" /> TimeSheet
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/timesheet"> Upload Timesheet </a></li>
                @if (isAdminUser)
                {
                    <li><a class="dropdown-item" href="/timesheetreports"> View Report </a></li>
                }
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/business-report.png" width="15" /> My Reports
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/StatusReportUpload"> Upload Status Report </a></li>
                @if (isAdminUser)
                {
                    <li><a class="dropdown-item" href="/StatusReport"> View Report </a></li>
                }

            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="~/Assets/MenuIcons/management.png" width="15" />  LMS
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/applyleave"> Apply Leave </a></li>
                @if (isAdminUser)
                {
                    <li><a class="dropdown-item" href="/leavereport"> View Report </a></li>
                }

            </ul>
        </li>
        @if (isAdminUser)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/technical-support.png" width="15" />  IT
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"> Upload IT Report </a></li>
                    <li><a class="dropdown-item" href="#"> View Report </a></li>
                </ul>
            </li>
        }

        @if (isAdminUser)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/Assets/MenuIcons/manager.png" width="15" /> Admin
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/zohosigninupdate"> Check In Adjust </a></li>
                    <li><a class="dropdown-item" href="/checkinadjust"> Check In Day wise </a></li>
                </ul>
            </li>
        }
    </ul>
</div>