<div class="modal" tabindex="-1" role="dialog" id="modal-warning-message-popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 52 52" style="enable-background: new 0 0 52 52; margin-left: 80px; padding-top: 20px; margin-bottom: 20px; width: 50px" xml:space="preserve">
<g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" />
                <path d="M26,10c-0.552,0-1,0.447-1,1v22c0,0.553,0.448,1,1,1s1-0.447,1-1V11C27,10.447,26.552,10,26,10z" />
                <path d="M26,37c-0.552,0-1,0.447-1,1v2c0,0.553,0.448,1,1,1s1-0.447,1-1v-2C27,37.447,26.552,37,26,37z" />
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                <div style="height: 60px; background-color: #92d0e8"></div>
            </div>
            <div class="modal-body">
                <h2 class="warning-message-popup-title"></h2>
                <div class="warning-message-popup" style="padding-top:30px"></div>
            </div>
            <div class="">
                <button type="button" class="btn btn-secondary modal-warning-popup-btn" data-dismiss="modal"><b style="font-size:medium">Close</b></button>
            </div>
        </div>
    </div>
</div>


<div class="modal message-success-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-success-custommessage">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 52 52" style="enable-background: new 0 0 52 52; margin-left: 190px; padding-top: 30px; margin-bottom: 30px;" xml:space="preserve" width="50px">
                <g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" />
                <path d="M38.252,15.336l-15.369,17.29l-9.259-7.407c-0.43-0.345-1.061-0.274-1.405,0.156c-0.345,0.432-0.275,1.061,0.156,1.406
		l10,8C22.559,34.928,22.78,35,23,35c0.276,0,0.551-0.114,0.748-0.336l16-18c0.367-0.412,0.33-1.045-0.083-1.411
		C39.251,14.885,38.62,14.922,38.252,15.336z" />
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                                </svg>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2 class="success-message-popup-title" style="color: #2167ae; text-align: center; padding-top: 30px"></h2>
                <div class="database-response" style="padding-top: 30px !important"></div>
            </div>

            <div class="">
                <button type="button" class="btn btn-lg modal-success-popup-btn" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-db-error-alert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-delete-custommessage">

                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 52 52" style="enable-background: new 0 0 52 52; margin-left: -20px; padding-top: 20px; margin-bottom: 20px; width: 50px" xml:space="preserve">
<g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" />
                <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0
		s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36
		s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293
		c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" />
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


            </div>
            <div class="modal-body">
                <h2 class="error-message-popup-title" style="color: #2167ae; text-align: center;"></h2>           
                <div class="database-response" style="padding-top: 30px !important; word-break: break-all;"></div>
            </div>
            <div class="model-footerbtn-dberror-custom">
                <button type="button" class="btn btn-secondary timesheet-addreport-cancel btn-lg" data-dismiss="modal"><b>Okay</b></button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modal-delete-alert">
    <div class="modal-dialog modal-lg" role="document" style="padding-top:0px">
        <div class="modal-content">
            <div class="modal-header modal-header-alert-custommessage">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 490.667 490.667" style="enable-background: new 0 0 490.667 490.667; margin-left: 0px; padding-top: 20px; margin-bottom: 20px; width: 50px" xml:space="preserve">
<g>
                <g>
                <g>
                <circle cx="245.333" cy="362.667" r="21.333" />
                <path d="M245.333,0C110.059,0,0,110.059,0,245.333s110.059,245.333,245.333,245.333s245.333-110.059,245.333-245.333
				S380.608,0,245.333,0z M245.333,469.333c-123.52,0-224-100.48-224-224s100.48-224,224-224s224,100.48,224,224
				S368.853,469.333,245.333,469.333z" />
                <path d="M245.333,96C207.104,96,176,127.904,176,167.115c0,5.891,4.776,10.667,10.667,10.667c5.891,0,10.667-4.776,10.667-10.667
				c0-27.445,21.536-49.781,48-49.781s48,21.792,48,48.597c0,25.888-22.4,48.587-48,48.587c-5.891,0-10.667,4.776-10.667,10.667V288
				c0,5.891,4.776,10.667,10.667,10.667c5.891,0,10.667-4.776,10.667-10.667v-53.013c32.736-5.333,58.667-34.805,58.667-69.056
				C314.667,127.371,283.563,96,245.333,96z" />
		</g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </div>
            <div class="modal-body">
                <h2 class="modal-delete-body-title" style="text-align: center; color: #2167ae"></h2>
                <div class="delete-message-popup"></div>
            </div>
            <div class="model-footerbtn-custom">
                <button type="button" class="btn btn-secondary delete-cancel btn-lg" data-dismiss="modal" style="border-radius: 10px; width: 100px">No</button>
                <button type="submit" class="btn btn-warning btn-lg delete-alert-yes" style="border-radius: 10px; width: 100px">Yes</button>
            </div>
        </div>
    </div>
</div>

