@model ResourceManagement.Models.StatusReport_RemainderEmailSelectedEmpModel

@{
    ViewBag.Title = "Status Report Remainder Email Page";
}

<style>
    body {
        background-color: #fff;
        font-family: Calibri;
        font-size: initial;
        color: #2167ae;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
        border: 0px !important;
    }

    tr:nth-child(even) {
        background-color: grey;
    }

    .time-header {
        color: white;
    }


    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .emailbody {
        font-family: "Lato", sans-serif;
    }

    .email-footer {
        background-color: #eee;
        font-size: medium;
        height: 25px;
        border-radius: 20px;
    }

    .emailbodycontent {
        font-family: "Lato", sans-serif;
        color: #2167ae;
    }

    #specifyColor {
        accent-color: #d3d3d3;
    }

    .circle {
        height: 20px;
        width: 20px;
        background-color: #d3d3d3;
        border-radius: 50%;
    }
</style>

@if (Model != null)
{
    <div class="emailbodycontent">
        <div style="font-family: Calibri; color: #2167ae; ">
            @if (Model.SendSingleEmailToAllEmp == false)
            {
                <h2>Dear <b>@Model.selectedemployeeempname</b>,</h2>
            }
            else
            {
                <h2>Dear <b>Team</b>,</h2>
            }

        </div>

        <div style="font-family: Calibri; color: #2167ae; ">
            A gentle reminder on dashboard report for the month of  (@Model.RemainderMonth).
            <br />
            Kindly submit your Status Report <b>today ASAP.</b>
        </div>


        <br />
        <br />
        <div style="font-family: Calibri; color: #2167ae; font-size: initial">
            Thanks & Regards,
            <br />
            <b>HR Department</b>
            <br />
            Admin Office: Elcot IT Park – Madurai, India.  Ph:  0452 6610202
            <br />
            Development Office: Hi-Tech City - Hyderabad, India.  Ph: 040 66577488
            <br />
            Centre of Excellence: Madurai, India. Ph: 0452 4500127
            <br />
            <a href="www.ambconline.com">www.ambconline.com</a>
            <br />
            <br />
            <img class=" preload-me" src="https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png" srcset="https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png 188w, https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png 188w" width="300" height="85" sizes="188px" alt="AMBC Inc">
            <br />
            <br />
            “Pursuant to Federal Law, if you do not wish to receive future email messages from us, please send an email to remove@ambconline.com. If you wish to receive future email messages from us, please reply to this message with “ADD” in the subject line. Any inconvenience caused is unintentional and is sincerely regretted. Thank you".
        </div>
        <br />
        <br />
        <div class="email-footer" style="text-align: center; padding-top: 6px; vertical-align: middle; font-family: Calibri; ">
            Autogenarted email.Please do  not reply.
        </div>
    </div>

}





