<!DOCTYPE HTML>
<html>
<head>

    <script>
        var chart = new CanvasJS.Chart("chartContainer", {
	        animationEnabled: true,
	        theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
		        text: "Total hours spent in this week => " +  @Html.Raw(ViewBag.TotalHoursSpent),
            },
            axisX: {

                labelTextAlign: "left" // Change it to "left, "right"
            },
            axisY: {
                title: "Hours Spent",
                titleMaxWidth: 400,
                titleFontWeight: "bold",
                gridThickness: 0,
                labelTextAlign: "left",
                stripLines: [
                    {
                        value: 0,
                        showOnTop: true,
                        color: "gray",
                        thickness: 0
                    }
                ]
            },

            data: [
                {
                    type: "column",
                    showInLegend: true,
                    name: "Workinghours",
                    legendText: "Working Hours",
                    legendMarkerColor: "rgb(81, 205, 160)",
                    dataPoints: @Html.Raw(ViewBag.DataPointsWorkingHours),
                },
                {
                    type: "column",
                    legendText: "Over Time",
                    name: "overtime",
                    showInLegend: true,
                    legendMarkerColor: "rgb(109, 120, 173)",
                    dataPoints: @Html.Raw(ViewBag.DataPointsOverTime),
                }
            ]
        });
        chart.render();

    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html> 