@model ResourceManagement.Models.MasterData.MasterModel

@{
    ViewBag.Title = "Master Data page";

    var bannerModel = new ResourceManagement.Models.BannerInfo();
    bannerModel.BannerName = "MASTER DATA";
    bannerModel.BannerImagePath = "/Assets/Banner/leave-report.png";
}

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)
@Html.Partial("~/Views/Home/_BannerInfo.cshtml", bannerModel)

<div class="card card-body" style="border-radius: 10px">
    <div class="card upload-it-report-card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="masterdatatype">Type of Data<b style="color:red">*</b></label>
                        <select id="masterdatatype" name="masterdatatype" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Type</option>
                            <option value="CompanyLogo">CompanyLogo</option>
                            <option value="ClientLogo">ClientLogo</option>
                            <option value="Client">Client</option>
                            <option value="Location">Location</option>
                            <option value="AssetTypes">AssetTypes</option>
                            <option value="Priority">Priority</option>
                            <option value="AssetTypes">AssetTypes</option>
                            <option value="OS Details">OS Details</option>
                            <option value="Priority">Priority</option>
                            <option value="Category">Category</option>
                            <option value="RAM Size">RAM Size</option>
                        </select>
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-master-data-add" style="width:100px; height:35px; border-radius:10px"><b style="font-size: 16px">Add</b></button>
                <button type="submit" class="btn btn-info btn-lg btn-master-data-view" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">View</b></button>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div id="master-data-add-section"></div>

<br />
<br />

<div class="card card-body master-body" style="border-radius: 10px;">
    <div class="card master-card">
        <div class="card-body">
            <input type="hidden" name="GridHtml" />
            <div id="report-container">
                <table class="table-master-data" style="margin-top: 4px; width:100%">
                    <thead class="table-bordered" style="height: 35px !important">
                        <tr style="background-color: #005983">
                            @if (Model.RMA_EmployeeModel.AMBC_Active_Emp_view.Access_Role == "administrator")
                            {
                                <th class="" scope="col" width="30" style="color: white; text-align: center">Action</th>
                            }
                            else
                            {
                                <th class="" scope="col" width="30" style="color: white; text-align: center; display:none">Action</th>
                            }

                        </tr>
                    </thead>

                    <tbody class="masterdata-table-grid">
                        <tr style="background-color: #ccffcc">
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml")
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<br />
<script>

    jQuery("#selectEmployeenameandemail").change(function (evt) {
        GetAssetsByEmpID(jQuery('#selectEmployeenameandemail :selected').val().split('|')[0]);
    });


    function DownloadITReport(ele) {
        var parentElement = $(ele).parents('.it-report-tr');

        var ITDownloadReportModel = {
            FileName: $(ele).html(),
            ReportMonth: parentElement.find('td.report-month').html(),
            UniqueNumber: $(ele).attr("data-uniqueid"),
            EmpName: parentElement.find('td.report-empname').html(),
            EmpID: parentElement.find('td.report-empname').attr("data-empid"),
            ReportType: parentElement.find('td.report-type').html(),
            AssetID: parentElement.find('td.report-assetid').html(),
        }

        var GridHtml = JSON.stringify(ITDownloadReportModel).toString();
        $("input[name='GridHtml']").val(GridHtml);

        $('form#itdownloadform').submit();
    }

    function DeleteITReport(ele) {
        var parentElement = $(ele).parents('.it-report-tr');
        var ITReportDeleModel = {
            Action: "Delete",
            UniqueNumber: $(ele).attr("data-uniqueid"),
            ReportType: parentElement.find('td.report-type').html(),
            AssetID: parentElement.find('td.report-assetid').html(),
        }
        ViewReport(ITReportDeleModel);
    }


    function ViewReport(model) {      
        var InputModel = {
            TypeOfData: jQuery('#masterdatatype :selected').val()
        };

        jQuery.ajax({
            url: "/masterdata/viewmasterdata",
            type: "POST",
            data: JSON.stringify({ inputModel: InputModel }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#master-data-add-section').html(data);
            }
        });
    }


    jQuery(".btn-master-data-add").click(function () {
        ViewReport();
    });

</script>
