@model ResourceManagement.Models.MasterData.MasterModel

<div class="card card-body master-body" style="border-radius: 10px;">
    <div class="card master-card">
        <div class="card-body">
            <input type="hidden" name="GridHtml" />
            <div id="report-container">
                <table class="table-master-data" style="margin-top: 4px; width:100%">
                    <thead class="table-bordered" style="height: 35px !important">
                        <tr style="background-color: #005983">
                            @if (Model.RMA_EmployeeModel.AMBC_Active_Emp_view.Access_Role == "administrator")
                            {
                                <th class="" scope="col" width="30" style="color: white; text-align: center">Action</th>
                            }
                            else
                            {
                                <th class="" scope="col" width="30" style="color: white; text-align: center; display:none">Action</th>
                            }

                        </tr>
                    </thead>

                    <tbody class="masterdata-table-grid">
                        <tr style="background-color: #ccffcc">
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>