@model ResourceManagement.Models.IT.ITModel

<div class="card card-body" style="border-radius: 10px">
    <div class="card timesheet-card">
        <div class="card-body ">
            <form class="needs-validation asset-from" novalidate name="asset-from">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetassettype-info">Asset Type<b style="color:red">*</b></label>
                        <select id="assetassettype-info" name="assetassettype-info" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Type</option>
                            @foreach (var assetType in Model.AssetTypes)
                            {
                                <option value="@assetType.AssetType1">@assetType.AssetType1</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetid-info">Asset ID<b style="color:red">*</b></label>
                        <input type="text" class="form-control" id="assetid-info" required>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetPurchaseDate-info" class="">Asset Purchase Date<b style="color:red">*</b></label>
                        <input type="date" class="form-control" id="assetPurchaseDate-info" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetallocationstatus-info">Allocation Status<b style="color:red">*</b></label>
                        <select id="assetallocationstatus-info" name="assetallocationstatus-info" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Allocation Status</option>
                            <option value="Assigned">Assigned</option>
                            <option value="NA">Not Assigned</option>
                            <option value="NA">Not in good condition</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetVendor-info" class="">Asset Vendor<b style="color:red">*</b></label>
                        @*<input type="text" class="form-control" id="assetVendor" required>*@
                        <select id="assetVendor-info" name="assetVendor-info" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Vendor</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Madurai">Madurai</option>
                            <option value="US">US</option>
                            <option value="Other Location">Other Location</option>
                        </select>
                    </div>

                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetVendorLocation-info" class="">Asset Vendor Location<b style="color:red">*</b></label>
                        @*<input type="text" class="form-control" id="assetVendor" required>*@
                        <select id="assetVendor-info" name="assetVendorLocation-info" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Vendor</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Madurai">Madurai</option>
                            <option value="US">US</option>
                            <option value="Other Location">Other Location</option>
                        </select>
                    </div>

                </div>
                <div class="clearfix"></div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetdescription-info">Description<b style="color:red">*</b></label>
                        <input type="text" class="form-control" id="assetdescription-info" required>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetmanufacturer-info">Manufacturer<b style="color:red">*</b></label>
                        <input type="text" class="form-control" id="assetmanufacturer-info" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetmodel-info">Model<b style="color:red">*</b></label>
                        <input type="text" class="form-control" id="assetmodel-info" required>
                    </div>
                </div>

                @*<div class="col-md-4">
                        <div class="form-group">
                            <label for="assetfunctionality-info">Working Condition<b style="color:red">*</b></label>
                            <select id="assetfunctionality-info" name="assetfunctionality-info" class="form-control form-select form-select-lg mb-3" required>
                                <option value="" disabled selected>Select Condition</option>
                                <option value="Good">Good</option>
                                <option value="Bad">Bad</option>
                            </select>
                        </div>
                    </div>*@
                <div class="clearfix"></div>
                <div class="col-md-4 div-os-version showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetosversion-info">OS Details<b style="color:red">*</b></label>
                        <select id="assetosversion-info" name="assetosversion-info" class="form-control form-select form-select-lg mb-3 showhide-required" required>
                            <option value="" disabled selected>Select OS</option>
                            <option value="64-bit">Windows10-(64bit)</option>
                            <option value="32-bit">Windows10-(32bit)</option>
                            <option value="64-bit">Windows7-(64bit)</option>
                            <option value="32-bit">Windows7-(32bit)</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetbarcodeid-info">Barcode ID<b style="color:red">*</b></label>
                        <input type="text" class="form-control" id="assetbarcodeid-info" required>
                    </div>
                </div>
                <div class="col-md-4 div-charger-details showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetchargerdetails-info">Charger Details<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetchargerdetails-info" required>
                    </div>
                </div>

                <div class="col-md-4 div-host-name showhide" style="display: none">
                    <div class="form-group">
                        <label for="assethostname-info">Host Name<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assethostname-info" required>
                    </div>
                </div>

                <div class="col-md-4 div-mouse-details showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetmousedetails-info">Mouse Details<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetmousedetails-info" required>
                    </div>
                </div>

                <div class="col-md-4 div-access-control showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetaccesscontrol-info">Access Control<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetaccesscontrol-info" required>
                    </div>
                </div>

                <div class="col-md-4 div-charger-assetid showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetchargerid-info">Charger Asset ID<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetchargerid-info" required>
                    </div>
                </div>

                <div class="col-md-4 div-usb-portstattus showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetusbport-info">USB Port Status<b style="color:red">*</b></label>
                        <select id="assetusbport-info" name="assetusbport-info" class="form-control form-select form-select-lg mb-3 showhide-required" required>
                            <option value="" disabled selected>Select Port Status</option>
                            <option value="Blocked">Blocked</option>
                            <option value="Not Blocked">Not Blocked</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 div-express-code showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetexpresscode-info">Express Code<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetexpresscode-info" required>
                    </div>
                </div>

                <div class="col-md-4 div-headset showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetheadsets-info">Headsets<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetheadsets-info" required>
                    </div>
                </div>



                <div class="col-md-4 div-servicetag showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetservicetag-info">Service Tag<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetservicetag-info" required>
                    </div>
                </div>

                <div class="col-md-4 showhide div-mac" style="display: none">
                    <div class="form-group">
                        <label for="assetmac-info">Mac<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetmac-info" required>
                    </div>
                </div>



                <div class="clearfix"></div>
                <div class="col-md-4 div-ip-address showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetipaddress-info">IP Address<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetipaddress-info" required>
                    </div>
                </div>
                <div class="col-md-4 div-wifi-ip showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetwifiip-info">WIFI IP<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-required" id="assetwifiip-info" required>
                    </div>
                </div>


                <div class="col-md-4 div-warranty-start showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetwarrantystartdate-info">Warranty Start Date<b style="color:red">*</b></label>
                        <input type="date" class="form-control showhide-required" id="assetwarrantystartdate-info" required>
                    </div>
                </div>
                <div class="col-md-4 div-warranty-end showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetwarantyenddate-info">Warranty End Date<b style="color:red">*</b></label>
                        <input type="date" class="form-control showhide-required" id="assetwarantyenddate-info" required>
                    </div>
                </div>
                <div class="col-md-4 div-warranty-status showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetwarrantystatus-info">Warranty Status<b style="color:red">*</b></label>
                        <select id="assetwarrantystatus-info" name="assetwarrantystatus-info" class="form-control form-select form-select-lg mb-3 showhide-required" required>
                            <option value="" disabled selected>Select Warranty Status</option>
                            <option value="In Warranty">In Warranty</option>
                            <option value="No Warranty">No Warranty</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-4 div-ram showhide" style="display: none">
                    <div class="form-group">
                        <label for="assetram-info">RAM<b style="color:red">*</b></label>
                        <select id="assetram-info" name="assetram-info" class="form-control form-select form-select-lg mb-3 showhide-required" required>
                            <option value="" disabled selected>Select RAM</option>
                            <option value="4GB">4GB</option>
                            <option value="8GB">8GB</option>
                            <option value="16GB">16GB</option>
                            <option value="20GB">20GB</option>
                            <option value="32GB">32GB</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                @*<div class="col-md-4 div-os showhide" style="display: none">
                        <div class="form-group">
                            <label for="assetos-info">OS<b style="color:red">*</b></label>
                            <input type="text" class="form-control showhide-required" id="assetos-info" required>
                        </div>
                    </div>*@


                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="assetremarks-info">Remarks<b style="color:red"> </b></label>
                        <textarea class="form-control" id="assetremarks-info" style="min-width: 100%" placeholder="Remarks..."></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="p-3 mb-2 bg-secondary text-white">In case Asset is SOLD OUT update the details below</div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetsoldout-info">Asset Sold OUT<b style="color:red">*</b></label>
                        <select id="assetsoldout-info" name="assetsoldout-info" class="form-control form-select form-select-lg mb-3">
                            <option value="" disabled selected>Select Sold Out</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 div-os showhide-soldout" style="display: none">
                    <div class="form-group">
                        <label for="assetsoldoutdate-info">Sold Out date<b style="color:red">*</b></label>
                        <input type="date" class="form-control showhide-soldout-required" id="assetsoldoutdate-info">
                    </div>
                </div>

                <div class="col-md-4 div-os showhide-soldout" style="display: none">
                    <div class="form-group">
                        <label for="assetsoldoutvendor-info">Sold Out Vendor<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-soldout-required" id="assetsoldoutvendor-info">
                    </div>
                </div>

                <div class="col-md-4 div-os showhide-soldout" style="display: none">
                    <div class="form-group">
                        <label for="assetsoldoutprice-info">Sold Out Price<b style="color:red">*</b></label>
                        <input type="text" class="form-control showhide-soldout-required" id="assetsoldoutprice-info">
                    </div>
                </div>

                <br />
                <div class="clearfix"></div>
                <div class="modal-footer mt-xl-4">
                    <button type="submit" class="btn btn-info btn-lg btn-asset-add-update" style="width:100px; height:35px; border-radius:10px"><b style="font-size: 16px">Submit</b></button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml", Model);


<script>

    function AssetType() {
        if (jQuery('#assetassettype-info :selected').val() == "Laptop" || jQuery('#assetassettype-info :selected').val() == "Desktop") {
            jQuery('.showhide').show();
            jQuery(".showhide-required").prop('required', true);
        }
        else {
            jQuery('.showhide').hide();
            jQuery('.showhide-required').removeAttr("required");
        }
    }

    //ON PAGE LOAD
    AssetType();

    jQuery(document).on("change", "#assetassettype-info", function () {
        AssetType();
    });




    function AssetSoldOut() {
        if (jQuery('#assetsoldout-info :selected').val() == "Yes") {
            jQuery('.showhide-soldout').show();
            jQuery(".showhide-soldout-required").prop('required', true);
        }
        else {
            jQuery('.showhide-soldout').hide();
            jQuery('.showhide-soldout-required').removeAttr("required");
        }
    }

    //ON PAGE LOAD
    AssetSoldOut();

    jQuery("#assetsoldout-info").change(function (evt) {
        AssetSoldOut();
    });



    // Example starter JavaScript for disabling form submissions if there are invalid fields

    jQuery(".btn-asset-add-update").click(function (event) {
        event.preventDefault();

        var isModalValidated = true;
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                isModalValidated = false;
            }

            form.classList.add('was-validated');
        });

        if (isModalValidated) {

            var assetInfoModel = {
                AllocationStatus: jQuery('#assetallocationstatus-info :selected').val(),
                PurchaseDate: jQuery('#assetPurchaseDate-info').val(),

                //TODO
                PurchaseLocation: jQuery('#assetVendorLocation-info :selected').val(),
                PurchaseVendor: jQuery('#assetVendor-info :selected').val(),

                Description: jQuery('#assetdescription-info').val(),
                AssetType: jQuery('#assetassettype-info :selected').val(),
                AssetManufacturer: jQuery('#assetmanufacturer-info').val(),
                AssignedAsset: jQuery('#assetassignedasset-info').val(),
                ChargerDetails: jQuery('#assetchargerdetails-info').val(),
                AssetHostName: jQuery('#assethostname-info').val(),
                MouseDetails: jQuery('#assetmousedetails-info').val(),
                AssetModel: jQuery('#assetmodel-info').val(),
                AccessControl: jQuery('#assetaccesscontrol-info').val(),
                ChargerSerialNo: jQuery('#assetchargerid-info').val(),
                Functionality: jQuery('#assetfunctionality-info :selected').val(),
                USBPortStatus: jQuery('#assetusbport-info :selected').val(),
                ExpressCode: jQuery('#assetchargerid-info').val(),
                Headsets: jQuery('#assetheadsets-info').val(),
                BarcodeID: jQuery('#assetbarcodeid-info').val(),
                ServiceTag: jQuery('#assetservicetag-info').val(),
                AssetMacNo: jQuery('#assetmac-info').val(),
                AssetSerialNo: jQuery('#assetid-info').val(),
                OperatingSystemDetail: jQuery('#assetosversion-info :selected').val(),
                IPAddress: jQuery('#assetipaddress-info').val(),
                WIFIIP: jQuery('#assetwifiip-info').val(),
                WarrentyStartDate: jQuery('#assetwarrantystartdate-info').val(),
                WarrentyEndDate: jQuery('#assetwarantyenddate-info').val(),
                WarrentyStatus: jQuery('#assetwarrantystatus-info :selected').val(),
                RAM_Size: jQuery('#assetram-info :selected').val(),
                /*  OS: jQuery('#assetos-info').val(),*/
                Remarks: jQuery('#assetremarks-info').val(),

                CreatedByName: jQuery('.agent-full-name').text(),
                CreatedByID: jQuery('.agent-navdrop-empid').text(),
                CreatedByEmail: jQuery('.agent-navdrop-empemail').text(),

                SoldOutDate: jQuery('#assetsoldoutdate-info').val(),
                SoldoutPrice: jQuery('#assetsoldoutprice-info').val(),
                SoldOutStatus: jQuery('#assetsoldout-info :selected').val(),
                SoldOutVendor: jQuery('#assetsoldoutvendor-info').val()
            };
            jQuery.ajax({
                url: "/it/assetsaddupdateajax",
                type: "POST",
                data: { assetInfo: assetInfoModel },
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.jsonResponse.StatusCode == 200) {
                        jQuery('.success-message-popup-title').html("Hey there");
                        jQuery('.database-response').html("<h2>Asset details have been successfully saved, and we greatly appreciate your cooperation.</h2>");
                        jQuery('.message-success-popup').modal('show');
                    }
                    else {
                        jQuery('.error-message-popup-title').html("Hey there");
                        jQuery('.database-response').html("<h2>" + obj.jsonResponse.Message + "</h2>");
                        jQuery('#modal-db-error-alert').modal('show');
                    }

                    jQuery('form[name="asset-from"]').trigger("reset");
                }
            });
            return false;
        }
    });


</script>