@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "Asset Assign Page";
}

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model);

<div class="card card-body" style="border-radius: 10px">
    <div class="card timesheet-card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group selectemp-div">
                        <label for="assetemployeename">Employee Name<b style="color:red">*</b></label>
                        <select id="selectEmployeename" name="assetemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                            <option disabled selected> -- Select Employee Name -- </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetAssignID">Asset ID<b style="color:red">*</b></label>
                        <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Asset ID</option>
                            <option value="Asset1">Asset1</option>
                            <option value="Asset2">Asset2</option>
                            <option value="Asset3">Asset3</option>
                            <option value="Asset4">Asset4</option>
                        </select>
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg" style="width:100px; height:35px; border-radius:10px"><b style="font-size: 16px">Assign Asset</b></button>
            </div>
        </div>
    </div>
</div>

<div style="display: none" class="showassetinfo">
    @Html.Partial("~/Views/IT/_AssetInfo.cshtml", Model);
</div>


<br />

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml", Model);
<script>

    // If employee works multiple projects then based on client updateing the employee details like Client name project name reportung managet etc..
    jQuery('#assetAssignID').change(function (evt) {
        jQuery('.showassetinfo').show();
    });

</script>
