@model ResourceManagement.Models.IT.ITScheduleMaintenanceModel

@{
    ViewBag.Title = "Schedule Maintenance Email Page";
}

@if (!string.IsNullOrWhiteSpace(Model.EmailBody))
{
    <style>
        body {
            background-color: #fff;
            font-family: Calibri;
            font-size: initial;
            color: #2167ae;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            text-align: left;
            padding: 8px;
            border: 0px !important;
        }

        tr:nth-child(even) {
            background-color: grey;
        }

        .time-header {
            color: white;
        }


        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .emailbody {
            font-family: "Lato", sans-serif;
        }

        .email-footer {
            background-color: #eee;
            font-size: medium;
            height: 25px;
            border-radius: 20px;
        }

        .emailbodycontent {
            font-family: "Lato", sans-serif;
            color: #2167ae;
        }

        #specifyColor {
            accent-color: #d3d3d3;
        }

        .circle {
            height: 20px;
            width: 20px;
            background-color: #d3d3d3;
            border-radius: 50%;
        }
    </style>
}

@if (Model != null)
{
<div class="emailbodycontent" style="font-family: Calibri; color: #2167ae; ">
    @if (string.IsNullOrWhiteSpace(Model.EmailBody))
    {
        <div style="font-family: Calibri; color: #2167ae; ">
            <h2>Dear <b>@Model.EmpName</b>,</h2>
        </div>

    }

    @if (string.IsNullOrWhiteSpace(Model.EmailBody))
    {
        <div style="margin-top: 0px !important">
            IT Monthly maintenance is a compulsory activity to ensure the smooth functioning and longevity of your valuable assets.
            We have meticulously planned the monthly maintenance schedule for your convenience.
            Kindly review the following dates and let us know your availability so we can proceed accordingly.
            <br />
            Slot 1:
            <br />
            Slot 2:
            <br />
            Slot 3:
        </div>
    }
    else
    {
        @Html.Raw(Model.EmailBody.TrimStart().Trim().Replace("\n", "<br>").Replace("<br><br>", "").Trim())

    }



    @if (!string.IsNullOrWhiteSpace(Model.EmailBody))
    {

        <br />
        <br />
        <div style="font-family: Calibri; color: #2167ae; font-size: initial">
            Thanks & Regards,
            <br />
            <b>IT Help Desk Team</b>           
            <br />
            Development Office: Hi-Tech City - Hyderabad, India.
            <br />
            Centre of Excellence - Madurai, India
            <br />
            <a href="www.ambconline.com">www.ambconline.com</a>
            <br />
            <br />
            <img class=" preload-me" src="https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png" srcset="https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png 188w, https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png 188w" width="300" height="85" sizes="188px" alt="AMBC Inc">
            <br />
            <br />
            “Pursuant to Federal Law, if you do not wish to receive future email messages from us, please send an email to remove@ambconline.com. If you wish to receive future email messages from us, please reply to this message with “ADD” in the subject line. Any inconvenience caused is unintentional and is sincerely regretted. Thank you".
        </div>

        <br />
        <br />
        <div class="email-footer" style="text-align: center; padding-top: 0px; vertical-align: middle; font-family: Calibri; ">
            auto generated email. please do  not reply.
        </div>
    }
</div>

}
