@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "Asset Upload Report Page";
}

@{
    var itEmpEmailIds = "";
}

<style>
    textarea {
        resize: none;
    }

    textarea {
        font-family: Calibri;
        color: #2167ae;
    }

    .richText {
        margin-top: 0px !important;
        margin-bottom: -21px !important;
        border: 1px solid blue !important;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/src/css/site.css" rel="stylesheet" />
<link href="~/src/richtext.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/src/jquery.richtext.js"></script>

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)

<div class="card card-body" style="border-radius: 10px">
    <div class="card ">
        <div class="card-body " style="background-color: #F0F8FF !important ">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group selectemp-div">
                        <label for="selectemployeename">To:<b style="color:red">*</b></label>
                        <select id="selectEmployeenameandemail" name="selectemployeename" class="form-control form-select form-select-lg" style="background-color:white">
                            <option value="" disabled selected>Select Employee</option>
                        </select>
                        <div class="invalid-emp" style="display: none; color: red">
                            Please Select Employee
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="schedulecc">CC:<b style="color:red"></b></label>
                        @foreach (var itAdmin in Model.ITAdminUsers)
                        {
                            itEmpEmailIds += itAdmin.AMBC_Mail_Address.Trim() + ",";
                        }
                        <textarea class="form-control schedulecc" id="schedulecc" style="min-width: 100%; color: #2167ae " placeholder="CC..." rows="1" required>@itEmpEmailIds.Trim(',')</textarea>
                        <small style="color:green !important; width: 200px !important">Please enter CC email id's with <b>comma(,)</b> seperator</small>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="schedulebcc">BCC:<b style="color:red"></b></label>
                        <textarea class="form-control schedulebcc" id="schedulebcc" style="min-width: 100%; color: #2167ae" placeholder="BCC..." rows="1" required></textarea>
                        <small style="color:green !important; width: 200px !important">Please enter BCC email id's with <b>comma(,)</b> seperator</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="schedulesubject">Subject:<b style="color:red">*</b></label>
                        <textarea class="form-control schedulesubject" id="schedulesubject" style="min-width: 100%; color: #2167ae" placeholder="Subject..." rows="1">Request schedule for Monthly Maintenance activity</textarea>
                        <div class="invalid-subject" style="display: none; color: red">
                            Please enter subject
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="row">
                <div class="page-wrapper box-content" style="margin: 0px !important; background-color: white !important; padding: 0px !important; margin-left: 15px !important">
                    <textarea class="content" name="example"></textarea>
                    <br />
                    <div class="invalid-email-body" style="display: none; color: red">
                        Please enter Email body
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-schedule-maintenance" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">Schedule</b></button>
            </div>
        </div>
    </div>
</div>

<br />
<br />

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml")
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<br />
<script>

    jQuery(document).ready(function () {
        jQuery('.content').richText();
        GenerateEmailBody();
    });

    function GenerateEmailBody() {
        var MaintenanceModel = {
            EmpName: jQuery('#selectEmployeenameandemail :selected').text(),
        };

        jQuery.ajax({
            type: "POST",
            url: "/it/generateemailbody",
            data: JSON.stringify({ maintenanceModel: MaintenanceModel }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                jQuery('.richText-editor').html(data);
            }
        });
    }

    jQuery("#selectEmployeenameandemail").change(function (evt) {
        GenerateEmailBody();
    });


    jQuery(".btn-schedule-maintenance").click(function () {
        var hasValidationErrors = false;
        if (jQuery('.richText-editor').text().trim() == "") {
            jQuery('.invalid-email-body').show();
            hasValidationErrors = true;
        }
        else {
            jQuery('.invalid-email-body').hide();
        }

        if (jQuery('.schedulesubject').val() == "") {
            jQuery('.invalid-subject').show();
            hasValidationErrors = true;
        }
        else {
            jQuery('.invalid-subject').hide();
        }


        if (jQuery('#selectEmployeenameandemail :selected').val() == "") {
            jQuery('.invalid-emp').show();
            hasValidationErrors = true;
        }
        else {
            jQuery('.invalid-emp').hide();
        }
        if (hasValidationErrors == true) {
            return false;
        }

        var itScheduleModel = {
            EmpName: jQuery('#selectEmployeenameandemail :selected').text(),
            EmpID: jQuery('#selectEmployeenameandemail :selected').val().split('|')[0].trim(),
            UploadedByName: jQuery('.agent-full-name').text(),
            UploadedByID: jQuery('.agent-navdrop-empid').text(),
            UploadedByEmail: jQuery('.agent-navdrop-empemail').text(),
            CC: jQuery('#schedulecc').val(),
            BCC: jQuery('#schedulebcc').val(),
            Subject: jQuery('#schedulesubject').val(),
            EmailBody: jQuery('.richText-editor').text().replace(/<div[^<]*?>/g, '').replace(/<\/div[^<]*?>/g, '<br>'),
            TO: jQuery('#selectEmployeenameandemail :selected').val().split('|')[1].trim()
        };

        jQuery.ajax({
            url: "/it/ScheduleMaintenanceEmailTrigger",
            type: "POST",
            data: JSON.stringify({ maintenanceModel: itScheduleModel }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.JsonResponse.StatusCode == 200) {
                    jQuery('.success-message-popup-title').html("Hey there");
                    jQuery('.database-response').html("<h2>Schedule Maintenance email sent successfully!.</h2>");
                    jQuery('.message-success-popup').modal('show');
                    $("#selectEmployeenameandemail option:first").attr('selected', 'selected');
                }
                else {
                    jQuery('.error-message-popup-title').html("Hey there");
                    jQuery('.database-response').html("<h2>" + obj.JsonResponse.Message + "</h2>");
                    jQuery('#modal-db-error-alert').modal('show');
                }
            }
        });
    });

</script>