@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "Asset Upload Report Page";
}

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model);

<div class="card card-body" style="border-radius: 10px">
    <div class="card timesheet-card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group selectemp-div">
                        <label for="assetemployeename">Employee Name<b style="color:red">*</b></label>
                        <select id="selectEmployeename" name="assetemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                            <option disabled selected> -- Select Employee Name -- </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetAssignID">Asset ID<b style="color:red">*</b></label>
                        <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3" required disabled>
                            <option value="" disabled selected>Select Asset ID</option>
                            <option value="Asset1">Asset1</option>
                            <option value="Asset2">Asset2</option>
                            <option value="Asset3">Asset3</option>
                            <option value="Asset4">Asset4</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetAssignID">Month<b style="color:red">*</b></label>
                        <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Month</option>
                            <option value="Asset1">Asset1</option>
                            <option value="Asset2">Asset2</option>
                            <option value="Asset3">Asset3</option>
                            <option value="Asset4">Asset4</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetAssignID">Report Type<b style="color:red">*</b></label>
                        <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Report Type</option>
                            <option value="Monthly Maintenance">Monthly Maintenance</option>
                            <option value="Vulnerability">Vulnerability</option>
                            <option value="IT Audit">IT Audit</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="assetAssignID">Upload Report:<b style="color:red">*</b></label>
                        <div class="form-control">
                            <input type="file" name="ExcelFile" id="reportupload" required />
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">Upload IT Report</b></button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml", Model);

<br />
<script>

</script>
