@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "Vendor add update page";

    var bannerModel = new ResourceManagement.Models.BannerInfo();
    bannerModel.BannerName = "ADD UPDATE VENDOR";
    bannerModel.BannerImagePath = "/Assets/Banner/vendor.jpg";

    Model.ActionType = "add-action";
}

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)
@Html.Partial("~/Views/Home/_BannerInfo.cshtml", bannerModel)
@Html.Partial("~/Views/IT/VendorAddUpdatePartial.cshtml", Model)
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<script>


    //jQuery(document).on("click", ".btn-vendor-addupdate", function () {
    //    var VendorModel = {
    //        VendorName: jQuery('#vendorname').val(),
    //        VendorAddress: jQuery('#vendoraddress').val(),
    //        VendorCity: jQuery('.vendorlocation :selected').val(),
    //        VendorEmailAddress: jQuery('#vendoremail').val(),
    //        VendorStatus: jQuery('.vendorstatus :selected').val(),
    //        VendorTxn: "Add",
    //        VendorRemarks: jQuery('#vendorremarks').val(),
    //        VendorContactNumber: jQuery('#vendorcontact').val(),
    //        itadminIds: jQuery('.it-admin-list').text(),
    //    };

    //    jQuery.ajax({
    //        type: "POST",
    //        url: "/it/addvendor",
    //        data: JSON.stringify({ addVendorModel: VendorModel }),
    //        contentType: 'application/json; charset=utf-8',
    //        success: function (data) {
    //            var obj = jQuery.parseJSON(data);
    //            if (obj.JsonResponse.StatusCode == 200) {

    //                jQuery('.success-message-popup-title').html("Hey there");
    //                jQuery('.database-response').html("<h2>Vendor details have been saved successfully.</h2>");
    //                jQuery('.message-success-popup').modal('show');

    //                jQuery("#vendorlocation").val($("#vendorlocation option:first").val());
    //                jQuery("#vendorstatus").val($("#vendorstatus option:first").val());
    //                jQuery('#vendorname').val('');
    //                jQuery('#vendoremail').val('');
    //                jQuery('#vendoraddress').val('');
    //                jQuery('#vendorremarks').val('');
    //                jQuery('#vendorcontact').val('');

    //            }
    //            else {
    //                jQuery('.error-message-popup-title').html("Hey there");
    //                jQuery('.database-response').html("<h2>" + obj.JsonResponse.Message + "</h2>");
    //                jQuery('#modal-db-error-alert').modal('show');
    //            }
    //        }
    //    });
    //});

</script>
