<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>



   @*var template = '<div class="total-container">
    <div class="details-container container col-12 d-flex" v-data-id="">
        '
        + '<div class="agent-details-container d-flex">
            ' + '<div class="agent-photo">
                '
                + '<img loading="lazy" src="" class="agent-image">'
                + '<div class="form-check terms-check agent-mobileCheckbox d-flex col-12">
                    '
                    + '<div class="col-2 agent-gridcolumn-two">
                        '
                        + ' <input type="checkbox" class="form-check-input" value="" id="agent-check">'
                        + '
                    </div>' + '<div class="col-10">
                        '
                        + '<label for="agent-check">
                            '
                            + '<span>Dauerhaft speichern</span>&nbsp;&nbsp;'
                            + '
                        </label>' + '
                    </div>' + '
                </div>' + '
            </div>'
            + '<div class="agent-personal-details">
                '
                + '<div class="agent-name"></div>'
                + '<div class="address-details">
                    '
                    + '<p><span class="vagent-street"></span><br><span class="vagent-postal-city"></span><br /></p>'
                    + '<div class="vagent-telephone agent-address"><span class="agent-phone-icon"></span><span class="agent-phone-text"></span></div><div class="vagent-mobile agent-address"><span class="agent-phone-icon"></span><span class="agent-phone-text"></span></div><div class="vagent-fax agent-address"><span class="agent-fax-icon"></span><span class="agent-phone-text"></span></div>' + '<p><span class="vagent-email agent-address"><span class="agent-mail-icon"></span><span class="agent-mail-icon-text"></span></span></p>' + '<span class="vagent-map agent-address ">
                        ' + '<div class="form-check terms-check agent-terms-check agent-loc agent-checkMobile d-flex col-12">
                            '
                            + '<span class="distance-pointer"></span>' + '<span class="agent-km-distance"></span>'
                            + '
                        </div>' + '
                    </span>' + '
                </div>' + '
            </div>' + '
        </div>' + '<div class="agent-parking-container">
            '
            + '<div class="agent-more-details"> Öffnungszeiten</div>' + '<p class="vagent-opening-hours agent-address">
                '
                + '
            </p>' + '<div class="agent-parking-address-new-mobile">
                ' + '<div class="agent-parking-details"> Parkmöglichkeiten</div>'
                + '<p class="vagent-parking-details agent-more-parking-details">' + '</p>' + '
            </div>'
            + '<div class="form-check terms-check agent-checkBox-below d-flex col-12">
                '
                + '<input type="checkbox" class="form-check-input" value="" id="D4FD051D3C784763A2CF426346D7B81E">'
                + '<label for="agent-check">
                    ' + '<span class="agent-label-checkbox">Dauerhaft speichern' + '</span>'
                    + '
                </label>' + '
            </div>' + '
        </div>' + '
    </div>' + '<div class="container check-button col-12 d-flex">
        '
        + '<div class="agent-parking-address-new">
            ' + '<div class="agent-parking-details"> Parkmöglichkeiten</div>'
            + '<p class="vagent-parking-details agent-more-parking-details">' + '</p>' + '
        </div>' + '
    </div>'
    + '<div class="container check-button col-12 d-flex">
        ' + '<div class="form-check terms-check vagent-map agent-terms-check agent-screen2 d-flex col-6">
            '
            + '<span class="distance-pointer">' + '</span>' + '<span class="agent-km-distance">' + '</span>' + '
        </div>' + '<div class="home-button">
            '
            + '<a class="agent-page-url" href="javascript:void(0);">
                ' + '<span class="blue-button">
                    ' + ' <span class="button-text">Zur Homepage</span>'
                    + '<span class="arrow"></span>' + '
                </span>' + '
            </a>' + '
        </div>' + '
    </div>
</div>'*@
