body {
    /*  font-family: "Lato", sans-serif;*/
    background-color: #DDE4E3;
    /* padding-top:50px;*/
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    /*background-color: darkslateblue;*/
    background-color: #0095a8;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 80%;
    }

    .register-form {
        margin-top: 20%;
    }
}


.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: white;
    font-weight: 500;
}

    .login-main-text h2 {
        font-weight: 900;
    }

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.sidenav-position {
    padding-top: 50px;
}


.card {
    border: 0px;
    background-color: #FFF;
    border-radius: 25px;
    /*background-color: #DDE4E3;
    border: 1px solid #DDE4E3;*/
}

.dashboard-card {
    background-color: #DDE4E3;
}

.time-header {
    height: 40px;
    background-color: #337ab7;
    border: 5px solid lightsteelblue;
    color: white;
    font-size: small;
}

.time-headertitle {
    padding-left: 130px;
    text-decoration-color: darkslateblue;
}

.popup-design-header {
    background-color: #337ab7;
}

.nav-bar-bg {
    /* ##337ab7*/
    background-color: #0095a8;
}

.navbar-brand {
    padding-bottom: 8.3125rem;
}

.btn-custom {
    background-color: #337ab7;
}

.modal-lg {
    padding-top: 200px;
}

.close {
    color: white;
}

.agent-navigation {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 992px) {
    .agent-navigation {
        max-width: 260px;
    }
}

@media (min-width: 1200px) {
    .agent-navigation {
        max-width: 300px;
    }
}

.agent-navigation > .component-content {
    width: 100%;
}

.agent-navigation .dropdownheading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: relative;
    padding-right: 25px;
    font-size: 16px;
    margin-top: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 992px) {
    .agent-navigation .dropdownheading {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }
}

@media (max-width: 991px) {
    .agent-navigation .dropdownheading {
        padding: 7px 25px 12px 0;
        margin-left: -10px;
        margin-top: 0;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        /*   font-family: "ZurichSans-Regular", Arial, sans-serif;*/
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .agent-navigation .dropdownheading {
        padding-right: 15px;
    }

        .agent-navigation .dropdownheading p {
            display: none;
        }
}

.agent-navigation .dropdownheading p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .agent-navigation .dropdownheading p {
        max-width: inherit;
    }
}

@media (min-width: 992px) {
    .agent-navigation .dropdownheading p {
        line-height: 2em;
    }
}

@media (max-width: 991px) {
    .agent-navigation .dropdownheading p {
        max-width: 270px;
    }
}

@media (max-width: 575px) {
    .agent-navigation .dropdownheading p {
        max-width: 235px;
    }
}

.agent-navigation .dropdownheading:after {
    position: absolute;
    display: block;
    content: '';
    width: 9px;
    height: 9px;
    top: 15px;
    right: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

@media (max-width: 991px) {
    .agent-navigation .dropdownheading:after {
        top: 18px;
        right: 5px;
        border-bottom: 2px solid #23366f;
        border-right: 2px solid #23366f;
    }
}

.agent-navigation .dropdownheading.active {
    color: #2167ae;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

    .agent-navigation .dropdownheading.active:after {
        -webkit-transform: rotate(-135deg) translateY(-50%);
        -ms-transform: rotate(-135deg) translateY(-50%);
        transform: rotate(-135deg) translateY(-50%);
        top: 17px;
    }

@media (max-width: 991px) {
    .agent-navigation .dropdownheading.active:after {
        top: 23px;
    }
}

.agent-navigation .dropdownheading .icon {
    line-height: 1.7;
    font-size: 20px;
    margin-right: 2px;
    float: left;
    width: 30px;
    height: 30px;
}

@media (max-width: 991px) {
    .agent-navigation .dropdownheading .icon {
        margin-right: 5px;
        line-height: 1.4;
    }
}

.agent-navigation .dropdownheading .icon.icon--pin_24_outline:before {
    font-family: 'zurich-icons-delta';
    content: "\ea8f";
}

.agent-navigation .dropdownheading .profile-img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

@media (max-width: 991px) {
    .agent-navigation .dropdownheading .profile-img {
        margin-right: 5px;
    }
}

.agent-navigation .dropdownheading .profile-img img {
    height: 30px;
    width: 30px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.agent-navigation .agent-description {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #cccccc;
    display: none;
    background: #ffffff;
    position: absolute;
    padding: 20px;
    width: 850px;
    right: 0;
    top: 97px;
    font-size: 14px;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .agent-navigation .agent-description {
        width: 100%;
        z-index: 100;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .agent-navigation .agent-description {
        top: 120px;
    }
}

.agent-navigation .agent-description.show {
    display: block;
}

.agent-navigation .agent-description .agent-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

    .agent-navigation .agent-description .agent-img img {
        height: 100%;
        width: auto;
        left: 50%;
        max-width: inherit;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

@media (max-width: 991px) {
    .agent-navigation .agent-description h4 {
        margin-bottom: 20px;
    }

    .agent-navigation .agent-description .component-link {
        width: 100%;
    }

        .agent-navigation .agent-description .component-link .btn {
            width: 100%;
        }

            .agent-navigation .agent-description .component-link .btn a > div {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                width: 100%;
            }
}

.agent-navigation .agent-description ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

    .agent-navigation .agent-description ul li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin-bottom: 15px;
        list-style-type: none;
    }

.agent-navigation .agent-description .bottom-agent-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
    .agent-navigation .agent-description .bottom-agent-links {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .agent-navigation .agent-description .bottom-agent-links .component.component-link {
        margin-bottom: 0;
    }
}

.agent-navigation .agent-description .bottom-agent-links .theme--tertiary .btn {
    color: #23366f;
    border-color: #23366f;
}

    .agent-navigation .agent-description .bottom-agent-links .theme--tertiary .btn .icon {
        color: #23366f;
    }

    .agent-navigation .agent-description .bottom-agent-links .theme--tertiary .btn:hover {
        color: #2167ae;
        border-color: #2167ae;
    }

        .agent-navigation .agent-description .bottom-agent-links .theme--tertiary .btn:hover .icon {
            color: #2167ae;
        }

.agent-navigation .agent-description .bottom-agent-links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.5;
}

    .agent-navigation .agent-description .bottom-agent-links a.text-link {
        color: #23366f;
    }

        .agent-navigation .agent-description .bottom-agent-links a.text-link:hover {
            color: #2167ae;
        }

@media (max-width: 991px) {
    .agent-navigation .agent-description .bottom-agent-links a {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .agent-navigation .agent-description .noagent-search {
        max-width: 400px;
    }
}

.agent-navigation .agent-description .noagent-search .textfield {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;
}

    .agent-navigation .agent-description .noagent-search .textfield .textfield__control {
        background-color: #eef0f1;
        color: inherit;
        height: 56px;
        border-radius: 28px;
        padding: 18px 21px 0;
        border: 2px solid transparent;
        margin-bottom: 0;
        display: block;
        position: relative;
        width: 100%;
        font-size: 18px;
        font-family: "ZurichSans-Light", Arial, sans-serif;
        color: #23366f;
    }

        .agent-navigation .agent-description .noagent-search .textfield .textfield__control::-webkit-input-placeholder {
            opacity: 0;
            color: #23366f;
        }

        .agent-navigation .agent-description .noagent-search .textfield .textfield__control:-ms-input-placeholder {
            opacity: 0;
            color: #23366f;
        }

        .agent-navigation .agent-description .noagent-search .textfield .textfield__control::placeholder {
            opacity: 0;
            color: #23366f;
        }

        .agent-navigation .agent-description .noagent-search .textfield .textfield__control:focus::-webkit-input-placeholder {
            opacity: 1;
        }

        .agent-navigation .agent-description .noagent-search .textfield .textfield__control:focus:-ms-input-placeholder {
            opacity: 1;
        }

        .agent-navigation .agent-description .noagent-search .textfield .textfield__control:focus::placeholder {
            opacity: 1;
        }

        .agent-navigation .agent-description .noagent-search .textfield .textfield__control:focus ~ .textfield__label,
        .agent-navigation .agent-description .noagent-search .textfield .textfield__control.is-selected ~ .textfield__label,
        .agent-navigation .agent-description .noagent-search .textfield .textfield__control.is-not-empty ~ .textfield__label,
        .agent-navigation .agent-description .noagent-search .textfield .textfield__control + .select2-container--open ~ .textfield__label {
            top: 9px;
            left: 0;
            font-size: 12px;
            font-family: "ZurichSans-Medium", Arial, sans-serif;
        }

    .agent-navigation .agent-description .noagent-search .textfield .textfield__label {
        position: absolute;
        padding-left: 24px;
        top: 20px;
        pointer-events: none;
        white-space: nowrap;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        height: 16px;
        line-height: 16px;
    }

.agent-fullname {
    float: left;
    margin-left: -190px;
    padding-top: 170px;
    padding-left: 20px;
    width: 140px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3.10rem + 2px);
}

.modal-backdrop.fade {
    opacity: 0.5;
}

.nobreak {
    white-space: nowrap;
}

.btn-custom {
    background-color: #337ab7;
    color: white;
}

.dashboard-emp-icon {
    margin-top: -30px;
    padding-left: 650px;
}

.dashboard-emp-info {
    z-index: 1;
}

.dashboard-navigation .dropdownheading:after {
    border-bottom: 1px solid #2167ae;
    border-right: 1px solid #2167ae;
}

.dashboard-emp-icon {
    margin-top: -50px;
    padding-left: 650px;
    border-bottom: 2px solid #fff;
}

.agent-navigation .dashboard-emp-info {
    top: 50px;
}

.img-fluid-dashboard {
    max-width: 125px;
    margin-left: 25px;
    height: 120px;
}

.custom-card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dashboard-zoom {
    transition: transform .2s; /* Animation */
    width: 60px;
}

    .dashboard-zoom:hover {
        transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

@media (min-width: 768px) {
    .login-card {
        margin-top: 160px;
    }
}

@media (min-width: 768px) {
    .login-card-body {
        margin-top: -200px
    }
}

@media (min-width: 768px) {
    .login-card-img-top {
        width: 60%;
        padding: 20px;
        margin-top: 30px
    }
}

.timesheet-close {
    color: black;
}

.custom-model-header {
    border-bottom: 2px solid #0095a8;
}



/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
    background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
    background: #17D654;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.timesheet-card {
    border-radius: 10px;
}

#modal-warning-message-popup {
    color: #2167ae;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.glyphicon-edit {
    font-size: 15px;
}

.glyphicon-remove {
    font-size: 15px;
}


.glyphicon-edit:before {
    /* color: inherit; */
    color: #0095a8 !important;
}

.glyphicon-remove:before {
    /* color: inherit; */
    color: red !important;
}

.timesheet-edit-delete {
    padding-left: 25px !important;
}

.default-table-row {
    padding-left: 25px !important;
}

.finalsubmit-message-popup {
    color: #2167ae;
    text-align: center;
    padding-top: 30px;
}

.emp-data-nav {
    padding-left: 30px;
}

.header-nav-modalfooter {
    background-color: #eee;
}

.modal-header {
    background-color: #779ecb;
}

.modal-footer {
    background-color: #eee;
}

.timesheet-addreport {
    background-color: #779ecb;
    border-radius: 20px;
    height: 35px;
}

.timesheet-addreport-cancel {
    background-color: #d85261;
    border-radius: 20px !important;
    width: 100px;
    margin-left: 0px;
    border-radius: 20px;
    height: 35px;
}

.exampleModalLabel {
    font-size: large !important;
}

.modal-header-success-custommessage {
    background-color: #2dd284;
}

.modal-body-custom-success {
    padding-top: 60px;
    color: #2167ae;
    height: 200px;
}

.modal-success-popup-btn {
    border-radius: 20px;
    width: 100px;
    margin-bottom: 30px;
    margin-left: 192px;
    height: 40px;
    background-color: #2dd284
}

.modal-header-information-custommessage {
    background-color: #88cef7;
}

.modal-body-custom-information {
    padding-top: 60px;
    color: #2167ae;
    height: 200px;
}

.modal-information-popup-btn {
    border-radius: 20px;
    width: 100px;
    margin-bottom: 30px;
    margin-left: 192px;
    height: 40px;
    background-color: #88cef7
}

.modal-warning-popup-btn {
    border-radius: 20px;
    width: 100px;
    margin-bottom: 30px;
    margin-left: 0px;
    height: 40px;
    background-color: #d85261;
    margin-top: 30px;
}

.modal-header-alert-custommessage {
    background-color: #fada5e;
}

.btn-alert-yes {
    background-color: #fada5e;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.model-footerbtn-custom {
    margin-left: 280px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.modal-boday-title {
    color: #2167ae;
    text-align: center;
    padding-top: 30px;
}

.modal-final-alert-msg {
    width: 330px;
    background-color: #2167ae;
    border: 1px solid #2167ae;
}

.modal-header-delete-custommessage {
    background-color: #d85261;
}

.model-footerbtn-delete-custom {
    margin-left: 150px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.modal-delete-popup-btn {
    border-radius: 20px;
    width: 100px;
    margin-bottom: 30px;
    margin-left: 0px;
    height: 40px;
    background-color: #779ecb;
    margin-top: 30px;
}

.delete-message-popup {
    text-align: center;
    color: #2167ae;
    font-size: medium;
    padding-top: 30px;
}

.warning-message-popup-title {
    padding-top: 30px;
}

.database-response {
    padding-top: 60px;
    color: #2167ae;
    height: 146px;
    text-align: center;
    font-size: medium;
}

.model-footerbtn-dberror-custom {
    margin-left: 190px;
    margin-bottom: 25px;
    padding-top: 20px;
}

.row-disabled {
    background-color: lightgray;
}

#button {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background-color: #eee;
    border: solid #ccc 1px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

/*.dynamic-field-mapping{
    float:right;
    width:560px;
    padding-left:20px;
    padding-top:25px;
}*/

.report-content-resource {
    /*  padding-left: 15px !important;
                    padding-top: 20px !important;*/
    font-size: small !important;
    /* margin-left: 10px !important;
                    margin-top: -15px !important*/

    margin-top: -12px !important;
}

.table-striped-custom tr:nth-of-type(odd) {
    background-color: rgba(72, 113, 248, 0.068);
}

.vl {
    border-left: 1px solid rgb(33, 103, 174);
    height: 250px;
    margin-left: 30px;
}

.grapgh1firsttd {
    width: 50px !important;
    text-align: center !important;
    font-weight: bold;
    color: white !important;
    border-top: 0px solid #0095a8 !important;
    background-color: white;
}

.graph1contenttd {
    text-align: center !important;
    /*   width: 160px !important;*/
    border-left: 1px solid #0095a8 !important;
    border-top: 1px solid #0095a8 !important;
    font-weight: bold !important;
    vertical-align: middle !important;
}

.hrlineDiv {
    background-color: white;
    padding-top: 75px;
    text-align: center;
    margin-bottom: 30px;
    /*border-bottom: 1px solid rgb(0, 128, 128) !important;*/
    margin-left: 150px;
    margin-right: 150px
}

/*    html, body, #container {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }*/

.chartbelowhrline {
    margin-left: -70px;
    text-align: center;
}

.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -119px;
    top: 200px;
    width: 200px;
}

.sticky li {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    filter: gray;
}

    .sticky li:hover {
        margin-left: -115px;
        -webkit-filter: grayscale(0%);
    }

    .sticky li img {
        float: left;
        margin: 2px 2px 2px 2px;
        margin-right: 10px;
    }

    .sticky li p {
        padding: 0px;
        margin: 0px;
        text-transform: uppercase;
        line-height: 43px;
    }

.employeeInfo {
    color: #23366f !important;
    margin-bottom: 2px !important;
}

.empPersonelInfoe {
    margin-left: 35px !important;
    margin-top: -18px !important;
    color: #23366f !important
}

.empAvaliability {
    margin-top: -22px !important;
    margin-left: 73px !important;
}

.report-activity {
    margin-left: 70px !important;
    margin-top: 30px !important;
}

.multplechartdiv {
    margin-left: 75px !important;
}


